# Basic Stats

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from scipy import stats

In [2]:
df = pd.read_csv('EmployeeAttrition.csv')

In [3]:
df.head()

,Age,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,Gender,HourlyRate,...,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Attrition
0,41,Travel_Rarely,1102,Sales,1,2,Life Sciences,2,Female,94,...,80,0,8,0,1,6,4,0,5,Yes
1,49,Travel_Frequently,279,Research & Development,8,1,Life Sciences,3,Male,61,...,80,1,10,3,3,10,7,1,7,No
2,37,Travel_Rarely,1373,Research & Development,2,2,Other,4,Male,92,...,80,0,7,3,3,0,0,0,0,Yes
3,33,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,4,Female,56,...,80,0,8,3,3,8,7,3,0,No
4,27,Travel_Rarely,591,Research & Development,2,1,Medical,1,Male,40,...,80,1,6,3,3,2,2,2,2,No

# Hypothesis Testing

### 1. One-Sample t-test
Example 1.1: One-tailed, one-sample t-test <br>
Question: Examines if the average age is less than 38 <br>
H0: The average age = 35. <br>
Ha: the average age > 35.<br>

In [4]:
stats.ttest_1samp(df['Age'], 35, alternative="greater")

Ttest_1sampResult(statistic=8.074105690924794, pvalue=7.011064450631255e-16)

### Conclusion:
P-Value < 0.05 => Hence we reject null hypothesis and accept alternative hypothesis to conclude that average age of employee is greater than 35

In [5]:
stats.ttest_1samp(df['Age'], 35, alternative="less")

Ttest_1sampResult(statistic=8.074105690924794, pvalue=0.9999999999999993)

### 2. Two-Sample/Two Group t-test
Hypothesis tests for mean differences: Paired Data <br>
Hypothesis tests for two means: Independent Data <br>
Example 2.1: two-sample t-test (equal sample sizes) <br><br>
H0: the average monthlyIncome of male and female employees (age <= 20) is same (equal or similar). <br>
Ha: the average monthlyIncome of male and female employees (age <= 20) is different. <br>

In [6]:
male = df[(df['Gender']=='Male') & (df['Age']<20)]['MonthlyIncome']
female = df[(df['Gender']=='Female') & (df['Age']<20)]['MonthlyIncome']

In [7]:
stats.ttest_ind(male, female)

Ttest_indResult(statistic=-0.04335872820959084, pvalue=0.9659874992613295)

### Conclusion:
P-Value > 0.05 => NOT reject Null hypothesis H0: the average monthlyIncome of male and female employees (age <= 20) is almost equal.

## Chi-Square Test

#### H0 (Null Hypothesis) = The 2 variables to be compared are independent.
#### H1 (Alternate Hypothesis) = The 2 variables are dependent.

In [8]:
chisqt = pd.crosstab(df['Department'],df['Gender'], margins=True)

In [9]:
chisqt

Gender                  Female  Male   All
Department
Human Resources             20    43    63
Research & Development     379   582   961
Sales                      189   257   446
All                        588   882  1470

In [10]:
value = np.array([chisqt.iloc[0][0:].values,
                  chisqt.iloc[1][0:].values])

In [11]:
stats.chi2_contingency(value)

(1.4709421142834458,
 0.47927963769548776,
 2,
 array([[ 24.54785156,  38.45214844,  63.        ],
        [374.45214844, 586.54785156, 961.        ]]))

In [12]:
chi2, p, dof, ex = stats.chi2_contingency(value)

In [14]:
chi2

1.4709421142834458

In [15]:
p

0.47927963769548776

#### Above is the p-value

#### From above, 0.4792 is the p-value, 2 is the degree of freedom. As the p-value is greater than 0.05, we accept the NULL hypothesis and assume that the variables â€˜Departmentâ€™ and â€˜Genderâ€™ are independent of each other and have no significant differences.