# CS 457 - Homework Assignment 2: Data Wrangling
## Fahad Ahmed - fs05847@st.habib.edu.pk

### part 2: Explanation of some parts.

## list of columns that have missing value: 'Access Code','Email Address','Region','City / Town / District','Q4','Q5','Q6','Q7','Q8','Q9','Q10','Q11','Q12','q13'


# methods that are used to fill the missing values:
## for values that numerical I used mean of whole colume and for values that text(categorical) I used mode of that colume, Reason:
## we can find the mode of categorical dat using pandas and put that value for probability of appearing that value is high and for numerical data i used mean because it will be average value of whole colume so it will value closer to accurate value with high probability.

### -------------


## Part 3

In [27]:
import pandas as pd

In [28]:
df = pd.read_csv('C:/Users/HP/OneDrive/Desktop/dataSci/hw2/580SurveyCleanup_formatted_cleaned.csv')

In [29]:
# df.describe(include = 'all')
df1 = df.iloc[:, 11:]
df1.describe(include = 'all')

,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,Q10,Q11,Q12,q13
count,36.000000,36,36,36,36,36,36,36,36,36,36,36,36
unique,NaN,4,14,19,14,26,24,5,3,4,5,4,27
top,NaN,Male,23,66,India,Economics,2021-12-20,Microsoft/Windows,Not Working While Attending Mason,Average User,Average User,Average User,Advance My Career In Data Science
freq,NaN,18,7,6,12,6,6,23,20,18,12,18,10
mean,2.888889,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,1.007905,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,2.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,2.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,2.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,4.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,4.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# using Describe function to find all statistical summary of Q1-Q12
## Q2-13 all have some unique value, top value and some frequency in the data
## like Q8 has top value as Microsoft/windows mean many people chose Microsoft/windows as their laptop.
### location of most people who fill the survey are from India
### location of most people who fill the survey are Male 
### top age is 23

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              36 non-null     int64
 1   Unnamed: 0.1            36 non-null     int64
 2   Time                    36 non-null     object
 3   Status                  36 non-null     object
 4   Duration (Seconds)      36 non-null     int64
 5   IP Address              36 non-null     object
 6   Country                 36 non-null     object
 7   Region                  36 non-null     object
 8   City / Town / District  36 non-null     object
 9   Latitude                36 non-null     float64
 10  Longitude               36 non-null     float64
 11  Q1                      36 non-null     float64
 12  Q2                      36 non-null     object
 13  Q3                      36 non-null     object
 14  Q4                      36 non-null     object
 15  Q5                      36 non-null     object
 16  Q6                      36 non-null     object
 17  Q7                      36 non-null     object
 18  Q8                      36 non-null     object
 19  Q9                      36 non-null     object
 20  Q10                     36 non-null     object
 21  Q11                     36 non-null     object
 22  Q12                     36 non-null     object
 23  q13                     36 non-null     object
dtypes: float64(3), int64(3), object(18)
memory usage: 6.9+ KB