# Assignment Data File

In [673]:
import pandas as pd

In [705]:
df = pd.read_csv('C:/Users/HP/OneDrive/Desktop/dataSci/580SurveyCleanup.csv')

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Q11.1,Q11.2,Q11.3,Q11.4,Q12,Q12.1,Q12.2,Q12.3,Q12.4,Q13
0,No.,Time,Status,Duration (Seconds),Access Code,Email Address,IP Address,Country,Region,City / Town / District,...,Some familiarity,Average user,Frequent use for projects,Fluent/expert,Little/none,Some familiarity,Average user,Frequent use for projects,Fluent/expert,What is your goal for learning about data anal...
1,1,10/3/20 5:49 PM,Completed,11646,NaN,NaN,100.36.167.226,United States,Virginia,Fairfax,...,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN
2,2,10/3/20 5:49 PM,Completed,113,NaN,NaN,98.169.26.134,United States,Virginia,Fairfax,...,NaN,1,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN
3,3,10/3/20 5:49 PM,Completed,572,NaN,NaN,98.169.52.23,United States,Virginia,Greenway Downs,...,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,"As part of my work, I have access to a lot of ..."
4,4,10/3/20 5:50 PM,Completed,365,NaN,NaN,69.255.182.253,United States,Virginia,Gainesville,...,NaN,NaN,1,NaN,NaN,1,NaN,NaN,NaN,NaN
5,5,10/3/20 5:51 PM,Completed,92,NaN,NaN,138.88.108.230,United States,NaN,NaN,...,1,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,Learn
6,6,10/3/20 5:59 PM,Incomplete,221,NaN,NaN,108.56.134.80,United States,Virginia,Reston,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,7,10/3/20 6:23 PM,Completed,115983,NaN,NaN,108.48.175.220,United States,Virginia,Arlington,...,NaN,1,NaN,NaN,NaN,NaN,1,NaN,NaN,To deduce meaningful interpretation for Financ...
8,8,10/3/20 7:10 PM,Incomplete,40,NaN,NaN,173.67.199.85,United States,Virginia,Ashburn,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,9,10/3/20 7:25 PM,Completed,137,NaN,NaN,74.96.114.12,United States,Virginia,Woodbridge,...,NaN,NaN,1,NaN,NaN,NaN,1,NaN,NaN,NaN
10,10,10/3/20 7:56 PM,Incomplete,179,NaN,NaN,107.77.241.32,United States,Texas,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,11,10/3/20 8:14 PM,Completed,127,NaN,NaN,138.88.182.245,United States,Maryland,Takoma Park,...,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,To see if it is a field I am interested in pur...
12,12,10/3/20 9:38 PM,Completed,269,NaN,NaN,72.83.246.60,United States,Virginia,Fairfax,...,NaN,1,NaN,NaN,NaN,NaN,NaN,1,NaN,To learn and explore cutting edge data technol...
13,13,10/3/20 9:41 PM,Completed,117,NaN,NaN,96.241.43.105,United States,Virginia,Chantilly,...,NaN,1,NaN,NaN,NaN,NaN,1,NaN,NaN,Learn to select the appropriate tools to condu...
14,14,10/3/20 10:49 PM,Completed,5966,NaN,NaN,71.191.72.223,United States,Virginia,Burke,...,NaN,1,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN
15,15,10/3/20 11:25 PM,Completed,254,NaN,NaN,73.134.53.227,United States,Maryland,Hyattsville,...,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,improve my skills
16,16,10/4/20 12:28 AM,Completed,526,NaN,NaN,73.86.219.52,United States,Maryland,Baltimore,...,1,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,My professional goal is to become a Financial ...
17,17,10/4/20 5:22 AM,Completed,398,NaN,NaN,69.138.215.127,United States,Virginia,Arlington,...,1,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,able to compliment my Computational Social Sci...
18,18,10/4/20 5:36 AM,Completed,128253,NaN,NaN,72.196.231.70,United States,Virginia,Springfield,...,NaN,NaN,1,NaN,NaN,NaN,1,NaN,NaN,To start a company
19,19,10/4/20 5:47 AM,Completed,239,NaN,NaN,100.15.54.17,United States,Virginia,Woodbridge,...,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,To be able understand and manipulate data to m...
20,20,10/4/20 10:32 AM,Completed,255,NaN,NaN,184.170.83.239,United States,Virginia,Rustburg,...,NaN,NaN,NaN,1,NaN,NaN,1,NaN,NaN,My ultimate goal is to get a job as a sports a...
21,21,10/4/20 11:03 AM,Completed,256,NaN,NaN,100.36.243.102,United States,Virginia,Fairfax,...,1,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,To understand how to properly interpret and di...
22,22,10/4/20 12:34 PM,Completed,674,NaN,NaN,108.56.134.80,United States,Virginia,Reston,...,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,"After graduating data analytics, I want myself..."
23,23,10/4/20 1:36 PM,Completed,130,NaN,NaN,73.163.163.82,United States,Maryland,Baltimore,...,NaN,NaN,1,NaN,1,NaN,NaN,NaN,NaN,Learning how to appropriately handle large qua...
24,24,10/4/20 1:50 PM,Completed,275,NaN,NaN,138.88.223.87,United States,NaN,NaN,...,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,To learn and understand the fundamentals and m...
25,25,10/4/20 9:28 PM,Completed,325,NaN,NaN,100.36.50.114,United States,NaN,NaN,...,NaN,1,NaN,NaN,NaN,NaN,1,NaN,NaN,The goal is to learn as many programming/stati...
26,26,10/5/20 9:37 AM,Completed,257,NaN,NaN,108.51.59.195,United States,Virginia,Burke,...,1,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,Learning analytics tool and being good at them
27,27,10/5/20 9:36 AM,Completed,657,NaN,NaN,72.83.246.219,United States,Virginia,Fairfax,...,NaN,NaN,1,NaN,NaN,NaN,1,NaN,NaN,I want to be as a data analyst
28,28,10/5/20 10:36 AM,Completed,1750,NaN,NaN,100.36.118.186,United States,Virginia,Burke,...,NaN,NaN,1,NaN,NaN,NaN,1,NaN,NaN,It is very relevant to my PhD research area an...
29,29,10/5/20 11:02 AM,Completed,887,NaN,NaN,172.58.187.98,United States,Maryland,Baltimore,...,NaN,1,NaN,NaN,NaN,NaN,1,NaN,NaN,Learn how to handle large amount structured an...
30,30,10/5/20 11:17 AM,Completed,180,NaN,NaN,72.196.230.201,United States,Virginia,Springfield,...,NaN,1,NaN,NaN,NaN,NaN,NaN,1,NaN,To become a good Data Analyst and work for top...
31,31,10/5/20 12:52 PM,Completed,392,NaN,NaN,108.18.111.204,United States,Virginia,Lorton,...,1,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,Get a better understanding of the granularity ...
32,32,10/5/20 12:56 PM,Incomplete,192,NaN,NaN,71.191.72.223,United States,Virginia,Burke,...,NaN,NaN,1,NaN,NaN,NaN,NaN,1,NaN,NaN
33,33,10/5/20 1:52 PM,Completed,277,NaN,NaN,184.191.72.8,United States,Virginia,Falls Church,...,1,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,Learn how data analytics works
34,34,10/5/20 3:34 PM,Completed,119,NaN,NaN,141.156.160.243,United States,NaN,NaN,...,NaN,1,NaN,NaN,NaN,NaN,1,NaN,NaN,Advance my career in data science
35,35,10/5/20 3:41 PM,Completed,149,NaN,NaN,71.206.51.121,United States,Maryland,Frederick,...,1,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,Getting a good job
36,36,10/5/20 5:58 PM,Completed,285,NaN,NaN,129.174.252.234,United States,Virginia,Fairfax,...,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,to use the skills at work.

In [ ]:
df_1 = df.iloc[:,1:12]

In [704]:
df_1.head()

,Time,Status,Duration (Seconds),Access Code,Email Address,IP Address,Country,Region,City / Town / District,Latitude,Longitude
1,10/3/20 5:49 PM,Completed,11646,NaN,NaN,100.36.167.226,United States,Virginia,Fairfax,-77.2891,38.8209
2,10/3/20 5:49 PM,Completed,113,NaN,NaN,98.169.26.134,United States,Virginia,Fairfax,-77.263,38.8605
3,10/3/20 5:49 PM,Completed,572,NaN,NaN,98.169.52.23,United States,Virginia,Greenway Downs,-77.2331,38.9645
4,10/3/20 5:50 PM,Completed,365,NaN,NaN,69.255.182.253,United States,Virginia,Gainesville,-77.6308,38.8175
5,10/3/20 5:51 PM,Completed,92,NaN,NaN,138.88.108.230,United States,NaN,NaN,-97.822,37.751

### Replacing header with first row

In [ ]:
df_1.columns = df_1.iloc[0]
df_1 = df_1[1:]

In [ ]:
# df_1.head()

### Getting Question 1 coulumns

In [ ]:
df2 = df.iloc[:,[12,13]]

In [ ]:
# df2.head()

### Replacing header with first row

In [ ]:
df2.columns = df2.iloc[0].astype(str)
df2 = df2[1:]

In [ ]:
# df2.head()

### Replace every "1" value with its respective column name

In [ ]:
df3 = df2.loc[:, '2.0':'4.0'].replace(1, pd.Series(df2.columns, df2.columns)).fillna('')

### concatenate Q1 columns into one final column

In [ ]:
df4 = pd.DataFrame(df3.iloc[:,0] + df3.iloc[:,1])

In [ ]:
df4.columns = ['Q1']

In [ ]:
# df4.head()

In [ ]:
df5 = pd.concat([df_1,df4],axis=1)

## question2

In [ ]:
df2 = df.iloc[:,14:18]
# df2.head()
df2.columns = df2.iloc[0].astype(str)
df2 = df2[1:]
# df2.head()
df3 = df2.replace("1", pd.Series(df2.columns, df2.columns)).fillna('')

df4 = pd.DataFrame(df3.iloc[:,0] + df3.iloc[:,1]+df3.iloc[:,2] +df3.iloc[:,3])
df4.columns = ['Q2']
df6 = pd.concat([df5,df4],axis=1)
# df6.head()

## q3

In [ ]:
df2 = df.iloc[:,18:19]
df2.columns = df2.iloc[0].astype(str)
df2 = df2[1:]
# df2.head()
df3 = df2.replace("1", pd.Series(df2.columns, df2.columns)).fillna('')

df4 = pd.DataFrame(df3.iloc[:,0])
df4.columns = ['Q3']
df_3 = pd.concat([df6,df4],axis=1)
# df_3.head()

## q4

In [ ]:
df2 = df.iloc[:,19:20]
df2.columns = df2.iloc[0].astype(str)
df2 = df2[1:]
# df2.head()
df3 = df2.replace("1", pd.Series(df2.columns, df2.columns)).fillna('')

df4 = pd.DataFrame(df3.iloc[:,0])
df4.columns = ['Q4']
df_4 = pd.concat([df_3,df4],axis=1)
# df_3.head()

### q5

In [ ]:
df2 = df.iloc[:,20:21]
df2.columns = df2.iloc[0].astype(str)
df2 = df2[1:]
# df2.head()
df3 = df2.replace("1", pd.Series(df2.columns, df2.columns)).fillna('')

df4 = pd.DataFrame(df3.iloc[:,0])
df4.columns = ['Q5']
df_5 = pd.concat([df_4,df4],axis=1)

#### q6

In [ ]:
df2 = df.iloc[:,21:22]
df2.columns = df2.iloc[0].astype(str)
df2 = df2[1:]
# df2.head()
df3 = df2.replace("1", pd.Series(df2.columns, df2.columns)).fillna('')

df4 = pd.DataFrame(df3.iloc[:,0])
df4.columns = ['Q6']
df_6 = pd.concat([df_5,df4],axis=1)

##### q7

In [ ]:
df2 = df.iloc[:,22:23]
df2.columns = df2.iloc[0].astype(str)
df2 = df2[1:]
# df2.head()
df3 = df2.replace("1", pd.Series(df2.columns, df2.columns)).fillna('')

df4 = pd.DataFrame(df3.iloc[:,0])
df4.columns = ['Q7']
df_7 = pd.concat([df_6,df4],axis=1)
df_7.head()

#### q8

In [706]:
df2 = df.iloc[:,23:27]
df2.columns = df2.iloc[0].astype(str)
df2 = df2[1:]
# df2.head()
df3 = df2.replace('1', pd.Series(df2.columns, df2.columns)).fillna('')
# df3 = df2.loc[:, '2.0':'4.0'].replace([1,2], pd.Series(df2.columns, df2.columns)).fillna('')

df4 = pd.DataFrame(df3.iloc[:,0] + df3.iloc[:,1]+df3.iloc[:,2]+df3.iloc[:,3])

df4.columns = ['Q8']
df_8 = pd.concat([df_7,df4],axis=1)

df_8.loc[:,"Q8"] = df_8.loc[:,"Q8"].str.replace("2","Apple/MacBook") 
# df_8.head()

                                Q8
1                    Apple/MacBook
2                    Apple/MacBook
3                    Apple/MacBook
4                Microsoft/Windows
5                                2
6
7                Microsoft/Windows
8
9                Microsoft/Windows
10
11               Microsoft/Windows
12               Microsoft/Windows
13                   Apple/MacBook
14               Microsoft/Windows
15               Microsoft/Windows
16               Microsoft/Windows
17  Microsoft/WindowsApple/MacBook
18               Microsoft/Windows
19               Microsoft/Windows
20                   Apple/MacBook
21               Microsoft/Windows
22               Microsoft/Windows
23  Microsoft/WindowsApple/MacBook
24               Microsoft/Windows
25               Microsoft/Windows
26                               0
27                   Apple/MacBook
28               Microsoft/Windows
29               Microsoft/Windows
30                   Apple/MacBook
31               Microsoft/Windows
32  Microsoft/WindowsApple/MacBook
33               Microsoft/Windows
34               Microsoft/Windows
35               Microsoft/Windows
36               OtherAcer/Windows

In [ ]:
df2 = df.iloc[:,27:30]
df2.columns = df2.iloc[0].astype(str)
df2 = df2[1:]
# df2.head()
df3 = df2.replace("1", pd.Series(df2.columns, df2.columns)).fillna('')

df4 = pd.DataFrame(df3.iloc[:,0] + df3.iloc[:,1]+df3.iloc[:,2])
df4.columns = ['Q9']
df_9 = pd.concat([df_8,df4],axis=1)

In [ ]:
df2 = df.iloc[:,30:35]
df2.columns = df2.iloc[0].astype(str)
df2 = df2[1:]
# df2.head()
df3 = df2.replace("1", pd.Series(df2.columns, df2.columns)).fillna('')

df4 = pd.DataFrame(df3.iloc[:,0] + df3.iloc[:,1]+df3.iloc[:,2]+df3.iloc[:,3]+df3.iloc[:,4])
df4.columns = ['Q10']
df_10 = pd.concat([df_9,df4],axis=1)

In [ ]:
df2 = df.iloc[:,35:40]
df2.columns = df2.iloc[0].astype(str)
df2 = df2[1:]
# df2.head()
df3 = df2.replace("1", pd.Series(df2.columns, df2.columns)).fillna('')

df4 = pd.DataFrame(df3.iloc[:,0] + df3.iloc[:,1]+df3.iloc[:,2]+df3.iloc[:,3]+df3.iloc[:,4])
df4.columns = ['Q11']
df_11 = pd.concat([df_10,df4],axis=1)

In [ ]:
df2 = df.iloc[:,40:45]
df2.columns = df2.iloc[0].astype(str)
df2 = df2[1:]
# df2.head()
df3 = df2.replace("1", pd.Series(df2.columns, df2.columns)).fillna('')

df4 = pd.DataFrame(df3.iloc[:,0] + df3.iloc[:,1]+df3.iloc[:,2]+df3.iloc[:,3]+df3.iloc[:,4])
df4.columns = ['Q12']
df_12 = pd.concat([df_11,df4],axis=1)
# df_11.head()

In [ ]:
df2 = df.iloc[:,45:46]

df2.columns = df2.iloc[0].astype(str)
df2 = df2[1:]
# df2.head()
df3 = df2.replace("1", pd.Series(df2.columns, df2.columns)).fillna('')

df4 = pd.DataFrame(df3.iloc[:,0])
df4.columns = ['q13']
df_13 = pd.concat([df_12,df4],axis=1)
# df_13.head()

In [ ]:
# import sys
# df_13.to_csv('out.csv')
path=r'C:\Users\HP\OneDrive\Desktop\dataSci\hw2'
df_13.to_csv(path+'580SurveyCleanup_formatted.csv')