In [1]:
import numpy as np
import sys
import pandas as pd
dframe = pd.read_csv('580SurveyCleanup_formatted.csv')

In [2]:
dframe.isnull().sum()
    #Access code = 36 null values
    #Email Address = 36 null values
    #Region = 4 null values
    #City / Town / District = 5 null values
    #Height (Inches) = 1 null value
    #Country of Citizenship = 2 null values
    #Undergraduate Degree = 2 null values
    #Expected Graduation date from Mason MS program? = 3 null values
    #Type of Laptop = 3 null values
    #Full-time = 3 null values
    #Level of programming (Python) = 3 null values
    #Level of programming (R) = 3 null values
    #Level of programming (SQL) = 3 null values
    #Goal = 9 null values

Unnamed: 0                                          0
Time                                                0
Status                                              0
Duration (Seconds)                                  0
Access Code                                        36
Email Address                                      36
IP Address                                          0
Country                                             0
Region                                              4
City / Town / District                              5
Latitude                                            0
Longitude                                           0
Section                                             0
Gender                                              0
Age (years)                                         0
Height (Inches)                                     1
Country of Citizenship                              2
Undergraduate Degree                                2
Expected Graduation date from Mason MS program?     3
Type of Laptop                                      0
Full-time                                           3
Level of programming (Python)                       3
Level of programming (R)                            3
Level of programming (SQL)                          3
Goal                                                9
dtype: int64

In [3]:
dframe['Age (years)'] = dframe['Age (years)'].replace(['2 3', '1993'], [23, 2022 - 1993])
dframe['Height (Inches)'] = dframe['Height (Inches)'].replace(['6l', '7O'], [61, 70])

dframe['Country of Citizenship'] = dframe['Country of Citizenship'].str.title()
dframe['Undergraduate Degree'] = dframe['Undergraduate Degree'].str.title()

dframe['Age (years)'] = dframe['Age (years)'].astype(int)
dframe['Height (Inches)'] = dframe['Height (Inches)'].astype(float)

In [4]:
#Access Code and Email address have no values and we can fill those with mode values or anything. 
#Hence, we drop these columns
dframe = dframe.drop(['Access Code', 'Email Address'], axis=1)

In [5]:
def fill_mode(data: pd.DataFrame, col: str):
    data[col].fillna(data[col].mode()[0], inplace = True)
##Since all the below attributes are of categorical type we use mode. We take mode of the values 
#and fill the empty cells with mode value. 


fill_mode(dframe, 'Region') #mode = Virginia
fill_mode(dframe, 'City / Town / District')
fill_mode(dframe, 'Country of Citizenship')
fill_mode(dframe, 'Undergraduate Degree')
fill_mode(dframe, 'Expected Graduation date from Mason MS program?')
fill_mode(dframe, 'Type of Laptop')
fill_mode(dframe, 'Full-time')
fill_mode(dframe, 'Level of programming (Python)')                                               
fill_mode(dframe, 'Level of programming (R)')
fill_mode(dframe, 'Level of programming (SQL)')

#All the below values are of numerical type hence we will take their mean 
#and fill the NULL values with mean values

dframe['Height (Inches)'].fillna(dframe['Age (years)'].mean().round(0), inplace = True)

In [6]:
import sys
dframe.to_csv("580SurveyCleanup_formatted_cleaned.csv")